@model NotesMarketPlace.Models.ChangePassword
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!-- change password -->
    <section id="login">
        <div id="changepassword" class="container">

            <!-- logo -->
            <div class="row justify-content-center">
                <div id="loginlogo" class="text-center col-md-6 col-12 col-sm-12">

                    <img src="~/Content/Front/img/pre-login/top-logo.png" class="img-fluid" alt="Login">
                </div>
            </div>



            <div class="row justify-content-center">

                <div class="col-12 col-md-12 col-sm-11 col-lg-9 col-xl-8">
                    <div id="changepassword-form">

                        <!-- Heading -->
                        <div id="changepassword-heading" class="text-center">
                            <h2>Change Password</h2>
                            <p>Enter your new password to change your password</p>
                        </div>

                        <!-- form -->
                        @using (Html.BeginForm("ChangePassword", "SignUp", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <!-- old pass -->
                            <div class="form-group">
                                <label class="label">Old Password *</label>
                                @Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "form-error" })
                                <div class="hidepassword">


                                    @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control exampleInputPassword1", @id = "changepass-old", @placeholder = "Enter your old password" })

                                    <span toggle="#changepass-old" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                            </div>

                            <!-- new pass -->
                            <div class="form-group">
                                <label class="label">New Password *</label>
                                @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "form-error" })
                                <div class="hidepassword">


                                    @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control exampleInputPassword1", @id = "changepass-new1", @placeholder = "Enter your new password" })

                                    <span toggle="#changepass-new1" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                            </div>

                            <!-- confirm pass -->
                            <div class="form-group">
                                <label class="label">Confirm Password *</label>
                                @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "form-error" })
                                <div class="hidepassword">


                                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control exampleInputPassword1", @id = "changepass-new2", @placeholder = "Enter your confirm password" })

                                    <span toggle="#changepass-new2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                            </div>

                            <!-- button -->
                            <button type="submit" class="btn text-uppercase text-center" id="btn"><b>Submit</b></button>
                        }

                    </div>
                </div>
            </div>
        </div>
</section>

  