@model NotesMarketPlace.Models.Users
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

 <!-- login -->
    <section id="login">
        <div id="login-page" class="container">

            <!-- logo -->
            <div class="row justify-content-center">
                <div id="loginlogo" class="text-center">

                    <img src="~/Content/Front/img/pre-login/top-logo.png" class="img-fluid" alt="Login">
                </div>
            </div>

            <div class="row justify-content-center">

                <div class="col-12 col-md-12 col-sm-11 col-lg-9 col-xl-8">


                    <div id="login-form">

                        <!-- heading -->
                        <div id="login-heading" class="text-center">
                            <h2>Login</h2>
                            <p>Enter your email address and password to login</p>
                        </div>

                        <!-- form  -->
                        @using (Html.BeginForm("Login", "SignUp", FormMethod.Post, new { ReturnUrl = Request.QueryString["ReturnUrl"] }))
                        {

                            @Html.AntiForgeryToken()

                            <!-- email -->
                            <div class="form-group">
                                <label class="label" for="exampleInputEmail1">Email</label>

                                @Html.TextBoxFor(x => x.EmailID, new { @class = "form-control exampleInputEmail1" , @placeholder = "Enter your email address" })
                                @Html.ValidationMessageFor(x => x.EmailID, "", new { @class = "form-error" })
                            </div>

                            <!-- password -->
                            <div class="form-group">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6">
                                            <label class="label exampleInputPassword1">Password</label>

                                        </div>

                                        <!-- Forgot Password -->
                                        <div class="col-6 col-sm-6 col-md-6 text-right">
                                            <label class="myforgotlabel"><a href="@Url.Action("ForgotPassword","SignUp")">Forgot Password?</a></label>
                                        </div>
                                    </div>
                                </div>

                                <!-- eye icon  -->
                                <div class="hidepassword">

                                    @Html.PasswordFor(x => x.Password, new { @class = "form-control exampleInputPassword1", @id = "password-field", @placeholder = "Enter your password" })

                                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>

                                </div>  @Html.ValidationMessageFor(x => x.Password, "", new { @class = "form-error" })


                            </div>

                            <!-- checkbox -->

                            <div class="form-group form-check checkbox">

                                @Html.ValidationMessageFor(x => x.RememberMe, "", new { @class = "form-error" })
                                @Html.CheckBoxFor(x => x.RememberMe, new { @class = "form-check-input exampleCheck" })
                                <label class="checkbox1" for="exampleCheck">Remember Me</label>
                            </div>

                            <!-- button -->
                            <button type="submit" class="btn text-uppercase text-center" id="btn"><b>login</b></button>
                        }
                        <p class="text-center text">Don't have an account?<a href="@Url.Action("SignUp","SignUp")"><span>Sign Up</span></a></p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- login Page End -->
  