@using PagedList;
@using PagedList.Mvc;
@model IPagedList<NotesMarketPlace.Models.NotesUnderReview>


@{
    ViewBag.Title = "Notes Under Review";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<!-- notes under review  -->
<section id="publish-notes" class="mydownloads">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Notes Under Review</h3>
            </div>
        </div>

        @using (Html.BeginForm("NotesUnderReview", "AdminNotes", FormMethod.Get))
        {
            <div class="row top-table">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="seller-info text-center">
                        <p class="seller-word text-left"><span>Seller</span></p>
                        @Html.DropDownList("seller", new SelectList(@ViewBag.SellerList, "Value", "Text", @ViewBag.Seller), "Select seller", new { @class = "form-control selectfield seller-name", id = "notesunderreview-seller" })

                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="row justify-content-end extra-margin2">
                        <div class="hidepassword seller-search">
                            <img src="~/Content/Admin/img/Dashboard/search.jpg" class="searchimage doup">
                            <input type="search" name="search" value="@ViewBag.Search" class="form-control search-bar exampleInputEmail1" placeholder="Search">
                        </div>
                        <div class="btn-merge seller-search">
                            <button type="submit" class="btn text-uppercase text-center" id="btn"><b>Search</b></button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <div class="grid-table table-responsive-xl">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="align-middle text-center">SR NO.</th>
                                <th scope="col" class="align-middle">@Html.ActionLink("NOTE TITLE", "NotesUnderReview", new { member = @ViewBag.Member, sort = ViewBag.Sort == null ? "Title_Desc" : (ViewBag.Sort == "Title_Asc" ? "Title_Desc" : "Title_Asc"), search = ViewBag.Search, seller = ViewBag.Seller })</th>
                                <th scope="col" class="align-middle">@Html.ActionLink("CATEGORY", "NotesUnderReview", new { member = @ViewBag.Member, sort = ViewBag.Sort == null ? "Category_Desc" : (ViewBag.Sort == "Category_Asc" ? "Category_Desc" : "Category_Asc"), search = ViewBag.Search, seller = ViewBag.Seller})</th>
                                <th scope="col" class="align-middle">@Html.ActionLink("SELLER", "NotesUnderReview", new { member = @ViewBag.Member, sort = ViewBag.Sort == null ? "Seller_Desc" : (ViewBag.Sort == "Seller_Asc" ? "Seller_Desc" : "Seller_Asc"), search = ViewBag.Search, seller = ViewBag.Seller})</th>
                                <th scope="col" class="align-middle">@Html.ActionLink("DATE ADDED", "NotesUnderReview", new { member = @ViewBag.Member, sort = ViewBag.Sort == null ? "DateAdded_Desc" : (ViewBag.Sort == "DateAdded_Asc" ? "DateAdded_Desc" : "DateAdded_Asc"), search = ViewBag.Search, seller = ViewBag.Seller})</th>
                                <th scope="col" class="align-middle">@Html.ActionLink("STATUS", "NotesUnderReview", new { member = @ViewBag.Member, sort = ViewBag.Sort == null ? "Status_Desc" : (ViewBag.Sort == "Status_Asc" ? "Status_Desc" : "Status_Asc"), search = ViewBag.Search, seller = ViewBag.Seller })</th>
                                <th scope="col" class="align-middle text-center">Action</th>
                                <th scope="col" class="align-middle"></th>

                                <th scope="col" class="align-middle"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.Count() == 0)
                            {
                                <tr class="no-record">
                                    <td colspan="9" class="text-center">No Record Found</td>
                                </tr>
                            }
                            else
                            {
                                int srno = 0;
                                if (ViewBag.PageNumber == null)
                                {
                                    srno = 0;
                                }
                                else
                                {
                                    srno = (ViewBag.Pagenumber - 1) * 5;
                                }
                                foreach (var item in Model)
                                {


                                    <tr>
                                        @{ srno = srno + 1; }
                                        <td class="align-middle text-center">@srno</td>
                                        <td class="align-middle changecolor"><a href="@Url.Action("NoteDetail", "Admin", new { noteid = @item.NoteID })">@item.Title</a></td>
                                        <td class="align-middle">@item.Category</td>
                                        <td class="align-middle"> @item.Seller <i class="icon-margin"><a href="@Url.Action("MemberDetail", "AdminMembers", new { member = @item.SellerID})"><img src="~/Content/Admin/img/images/eye.png"></a></i></td>
                                        <td class="align-middle">@item.DateAdded.ToString("dd-MM-yyyy, hh:mm")</td>
                                        <td class="align-middle">@item.Status</td>
                                        <td class="align-middle">
                                            <a>
                                                <button type="button" class="btn text-center action-btn approve-btn" data-toggle="modal" data-target="#approve-@item.NoteID"><b>Approve</b></button>
                                            </a>
                                            <a>
                                                <button type="button" class="btn text-center action-btn reject-btn" data-toggle="modal" data-target="#reject-@item.NoteID"><b>Reject</b></button>
                                            </a>

                                            @if (String.Equals(item.Status.ToLower(), "submitted"))
                                            {
                                                <a>
                                                    <button type="button" class="btn text-center action-btn inreview-btn" data-toggle="modal" data-target="#inreview-@item.NoteID"><b>InReview</b></button>
                                                </a>
                                            }
                                            else
                                            {
                                                <a>
                                                    <button type="button" class="btn text-center action-btn inreview-btn" disabled><b>InReview</b></button>
                                                </a>

                                            }

                                            <!--section InReview confirmation box-->

                                            <div class="modal fade in" id="inreview-@item.NoteID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">

                                                        </div>
                                                        <div class="modal-body">
                                                            Via marking the note In Review – System will let user know that review process has been initiated. Please press yes to continue.
                                                        </div>
                                                        <div class="modal-footer">

                                                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href='@Url.Action("MakeNoteInReview", "AdminNotes", new { id = @item.NoteID })'">YES</button>
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">NO</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Section InReview Confirmation-Box END -->
                                            <!--section Approve confirmation box-->

                                            <div class="modal fade in" id="approve-@item.NoteID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">

                                                        </div>
                                                        <div class="modal-body">
                                                            If you approve the notes – System will publish the notes over portal. Please press yes to continue.
                                                        </div>
                                                        <div class="modal-footer">

                                                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href='@Url.Action("MakeNotePublish", "AdminNotes", new { id = @item.NoteID })'">YES</button>
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">NO</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Section Approve Confirmation-Box END -->
                                            <!-- Section remark  -->
                                            <div class="modal fade exampleModal" id="reject-@item.NoteID" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="row">
                                                        <div class="col-xl-12">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true"><i class="fa fa-close 2x"></i></span>
                                                                    </a>
                                                                </div>
                                                                <div class="modal-data">
                                                                    <div class="modal-head text-left">
                                                                        <h2>@item.Title</h2>
                                                                    </div>
                                                                    <div class="middel-content text-left content-justify-left">
                                                                        @using (Html.BeginForm("MakeNoteReject", "AdminNotes", FormMethod.Post, new { id = "makenotereject-" + @item.NoteID }))
                                                                        {

                                                                            @Html.AntiForgeryToken()


                                                                            <input name="noteid" value="@item.NoteID" hidden>

                                                                            <div class="form-group" id="modal-spam-report">
                                                                                <label for="remark">Remarks *</label>
                                                                                <textarea class="form-control exampleInputEmail1" name="remark" id="remark" placeholder="remarks..." required></textarea>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                               
                                                                                <button type="button" class="btn text-uppercase rejected-btn" data-toggle="modal" data-target="#confirmation-@item.NoteID" data-dismiss="modal" aria-label="Close">Reject</button>
                                                                                <button type="button" class="btn text-uppercase cancel-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Section remark END -->
                                            <!--section reject confirmation box-->

                                            <div class="modal fade in" id="confirmation-@item.NoteID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">

                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure you want to reject seller request?
                                                        </div>
                                                        <div class="modal-footer">

                                                            <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="$('#makenotereject-'+@item.NoteID).submit(); $(this).dialog('close');">YES</button>
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">NO</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Section reject Confirmation-Box END -->

                                        </td>

                                        <td class="align-middle">
                                            <div class="dropdown">
                                                <a type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img src="~/Content/Admin/img/images/dots.png">
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" role="button" href="@Url.Action("AdminDownloadNote", "Admin", new { noteid = @item.NoteID })">Download Notes</a>
                                                    <a class="dropdown-item" role="button" href="@Url.Action("NoteDetail", "Admin", new { noteid = @item.NoteID })">View More Detail</a>

                                                </div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- notes under review ends  -->
<!-- Pagination -->
<nav>
    <div class="container">
        <div class="row justify-content-center">


            @Html.PagedListPager(Model, page => Url.Action("NotesUnderReview", new { page, search = @ViewBag.Search, sort = @ViewBag.Sort}), new PagedList.Mvc.PagedListRenderOptions
       {
           
           LinkToNextPageFormat = ">",
           LinkToPreviousPageFormat = "<",
           MaximumPageNumbersToDisplay = 5,
           DisplayEllipsesWhenNotShowingAllPageNumbers = false,
           DisplayLinkToFirstPage = PagedListDisplayMode.Never,
           DisplayLinkToLastPage = PagedListDisplayMode.Never

       })
        </div>
    </div>

</nav>
<!-- Pagination Ends -->