@using NotesMarketPlace.Context;
@model NotesMarketPlace.Models.NoteStats

@{
    ViewBag.Title = "Note Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="notes-detail">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12">
                <div class="head">
                    <h3>Notes Details</h3>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-7">
                        <div class="row docenter">
                            <div class=" col-12 col-sm-5 col-md-5 col-lg-5">
                                @if (Model.SellerNote.DisplayPicture != null)
                                {
                                    <img src="@Url.Content(Model.SellerNote.DisplayPicture)" alt="note" class="img-fluid">
                                }
                                else
                                {
                                    <img src="~/Content/Default/defaultbook.jpg" alt="note" class="img-fluid">
                                }
                                
                            </div>
                            <div class="col-12 col-sm-7 col-md-7 col-lg-7">

                                <h2>@Model.SellerNote.Title</h2>
                                <h5>@Model.SellerNote.NoteCategories.Name</h5>
                                <p class="text-left">@Model.SellerNote.Description</p>
                                <div class="row">
                                    <div class="col-sm-12 col-md-7 col-lg-9">
                                        <button type="submit" class="btn text-uppercase text-center" id="btn" data-toggle="modal" data-target="#exampleModal"><b>download/$@Model.SellerNote.SellingPrice</b></button>

                                        <!-- Thanks PopUp -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">

                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <img src="~/Content/Front/img/Notes Details/close.png">
                                                                </a>
                                                            </div>
                                                            <div class="model-data">

                                                                <div class="model-head text-center">
                                                                    <img class="img-fluid" src="~/Content/Front/img/Notes Details/SUCCESS.png">
                                                                    <h2>Thank your for purchasing!</h2>
                                                                </div>

                                                                <div class="middel-content text-left">
                                                                   
                                                                    @{ 
                                                                        database1Entities dobj = new database1Entities();
                                                                        var user = dobj.Users.Where(x => x.EmailID == User.Identity.Name).FirstOrDefault();
                                                                        var user1 = dobj.Users.Where(x => x.ID == Model.SellerNote.SellerID).FirstOrDefault();
                                                                        SystemConfiguration sys = new SystemConfiguration();}
                                                                     @if(User.Identity.IsAuthenticated)
                                                                          
                                                                        { <h3>Dear @user.FirstName,</h3>}
                                                                   
                                                                    
                                                                    <p class="para-1">As this is paid notes-you need to pay to @user1.FirstName offline.We will send him an email that you want to download this note.He may contact you further for payment process completion.</p>
                                                                    <p class="para-2">In Case, you have urgency,<br>Please contact us on +91-9265719561</p>
                                                                    <p class="para-3">Once he recevies the payment and acknowledge us-Seleted notes you can see over my downloads tab for download.</p>
                                                                    <p class="para-4">Have a good day.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Thanks PopUp Ends -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5 margin-top">
                        <div class="row">
                            <div class="col-5 col-sm-5 col-md-5 left-data">
                                <h5>Institution:</h5>
                                <h5>Country:</h5>
                                <h5>Course Name:</h5>
                                <h5>Course Code:</h5>
                                <h5>Professor:</h5>
                                <h5>Number of Pages:</h5>
                                <h5>Approved Date:</h5>
                                <h5>Rating:</h5>
                            </div>
                            <div class="col-7 col-sm-7 col-md-7 right-data text-right">
                                <h5>@Model.SellerNote.UniversityName</h5>

                                @if (@Model.SellerNote.Country != null)
                                {
                                    <h5>@Model.SellerNote.Countries.Name</h5>
                                }
                                else
                                {
                                    <h5></h5>
                                }

                                <h5>@Model.SellerNote.Course</h5>
                                <h5>@Model.SellerNote.CourseCode</h5>
                                <h5>@Model.SellerNote.Professor</h5>
                                @if (Model.SellerNote.NumberofPages != null)
                                {
                                    <h5>@Model.SellerNote.NumberofPages</h5>
                                }
                                else
                                {
                                    <h5>Unknown</h5>
                                }

                                @if (Model.SellerNote.PublishedDate != null)
                                {
                                    <h5>@Model.SellerNote.PublishedDate.Value.ToString("MMM dd yyyy")</h5>
                                }
                                else
                                {
                                    <h5></h5>
                                }
                            <div class="rate-fa">

                                @for (var i = 0; i < 5; i++)
                                {
                                    if (i < Model.AverageRating)
                                    {
                                        <i class="fa fa-star giverate"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star-o"></i>
                                    }
                                }

                                <i class="numofreview">@Model.TotalReview reviews</i>
                            </div>
                            </div>
                        </div>
                        <div class="inappropriate">
                            <p>@Model.TotalSpamReport User marked this note as inappropriate</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- detail ends-->

<div class="content-box-md">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
    </div>
</div>

<!-- preview section -->
<section id="notes-preview">

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                <div class="head">
                    <h3>Notes Preview</h3>
                </div>
                <div id="Iframe-Cicis-Menu-To-Go" class="set-margin-cicis-menu-to-go set-padding-cicis-menu-to-go set-border-cicis-menu-to-go set-box-shadow-cicis-menu-to-go center-block-horiz">
                    <div class="responsive-hidepassword
     responsive-hidepassword-padding-bottom-90pct" style="-webkit-overflow-scrolling: touch; overflow: auto;">
                        <iframe src="">
                            <p style="font-size: 110%;">
                                <em>
                                    <strong>ERROR: </strong>
                                    An &#105;frame should be displayed here but your browser version does not support &#105;frames.
                                </em> Please update your browser to its most recent version and try again, or access the file <a href="http://unec.edu.az/application/uploads/2014/12/pdf-sample.pdf">with this link.</a>
                            </p>
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 margin-top">
                <div class="head">
                    <h3>Customer Reviews</h3>
                </div>
                <div class="customer-reviews">

                    @foreach (var item in Model.NotesReview)
                    {
                        <div class="row">
                            <div class="col-3 col-sm-3 col-md-2">

                                @if (item.TblUserProfile.ProfilePicture != null)
                                {
                                    <img src="@Url.Content(item.TblUserProfile.ProfilePicture)" class="img-fluid rounded-circle" alt="user">
                                }
                                else
                                {
                                    <img src="~/Content/Default/defaultuser.jpg" class="rounded-circle img-fluid" alt="user">
                                }
                                
                            </div>
                            <div class="col-9 col-sm-9 col-md-10">
                                <h5>@item.TblUser.FirstName @item.TblUser.LastName</h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="rate-fa">

                                            @for (var i = 0; i < 5; i++)
                                            {
                                                if (i < item.TblSellerNotesReview.Ratings)
                                                {
                                                    <i class="fa fa-star giverate"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-star-o"></i>
                                                }
                                            }
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>@item.TblSellerNotesReview.Comments</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <hr>
                                </div>
                            </div>
                        </div>
                    }
                       
                       
                  
                    </div>
            </div>
        </div>
    </div>

</section>
<!-- preview section ends -->