@using PagedList;
@using PagedList.Mvc;

@model IPagedList<NotesMarketPlace.Models.SearchNotes>
@{
    ViewBag.Title = "SearchNotes";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*start Section*@
<section>
    <div id="userprofile-img">
        <div class="centerh2">

            <h2>Search Notes</h2>

        </div>
    </div>
</section>

@*Second Section*@

<section id="searchfilter" class="content-box-md">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Search and Filter notes</h3>
            </div>
        </div>
        <div class="div-filter">
            @using (Html.BeginForm("SearchNotes", "SearchNotes", FormMethod.Get))
            {

                <div class="row upperfilter">
                    <div class="col-md-12">
                        <div class="hidepassword">
                            <img src="~/Content/Front/img/Dashboard/search.jpg" class="searchBook Image">
                            <input type="search" name="search" class="form-control search-bar exampleInputEmail1" value="@ViewBag.Search" placeholder="Search notes here...">
                        </div>
                    </div>
                </div>
                <div class="row sixfilter">
                    <div class="col-md-2">


                        @Html.DropDownList("type", new SelectList(@ViewBag.TypeList, "ID", "Name"), "Select Type", new { @class = "form-control selectfield", id = "type" })
                    </div>



                    <div class="col-md-2">


                        @Html.DropDownList("category", new SelectList(@ViewBag.CategoryList, "ID", "Name"), "Select Category", new { @class = "form-control selectfield", id = "category" })

                    </div>
                    <div class="col-md-2">


                        @Html.DropDownList("university", new SelectList(@ViewBag.UniversityList), "Select University", new { @class = "form-control selectfield", id = "university" })


                    </div>
                    <div class="col-md-2">


                        @Html.DropDownList("course", new SelectList(@ViewBag.CourseList), "Select Course", new { @class = "form-control selectfield", id = "course" })
                    </div>


                    <div class="col-md-2">
                        @Html.DropDownList("country", new SelectList(@ViewBag.CountryList, "ID", "Name"), "Select Country", new { @class = "form-control selectfield", id = "country" })

                    </div>
                    <div class="col-md-2">
                        @Html.DropDownList("ratings", new SelectList(@ViewBag.RatingList, "Value", "Text"), "Select Rating", new { @class = "form-control selectfield", id = "rating" })

                    </div>

                </div>
            }
        </div>
    </div>
</section>


@*//Books*@
<section id="notes" class="content-box-md">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Total <span>@ViewBag.ResultCount</span> notes</h3>
            </div>
        </div>
        <div class="row">

            @if (@ViewBag.ResultCount == 0)
              {   <div class="col-md-12">
                    <h4>No record found</h4>
                   </div>
                }
                    @foreach (var item in Model)
                    {

                        //Book 1
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">

                            <div class="bookclass">
                                @{
                                    var dbobj = new NotesMarketPlace.Context.database1Entities();
                                    //var defaultbook = dbobj.SystemConfiguration.Select(x => x.DefaultNotePreview).FirstOrDefault();
                                }

                                @*Book Image*@
                                <div class="note-img">
                                    <a href="@Url.Action("NoteDetail", "SearchNotes",new { id = item.Note.ID })">
                                        @if (@item.Note.DisplayPicture != null)
                                        {
                                            <img src="@Url.Content(item.Note.DisplayPicture)" alt="note" class="img-fluid">
                                        }
                                        else
                                        {

                                            <img src="~/Content/Default/defaultbook.jpg" class="img-fluid " alt="note">

                                        }
                                    </a>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">


                                            <div class="bookclass-content">

                                                @*Book Name*@
                                                <div class="book-heading">
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        <h6><a href="@Url.Action("NoteDetail", "SearchNotes", new { id = item.Note.ID })">@item.Note.Title</a></h6>}
                                                    else
                                                    {
                                                        <h6><a href="@Url.Action("Login", "SignUp", new { id = item.Note.ID })">@item.Note.Title</a></h6>
                                                    }
                                                </div>


                                                @*Book Info*@
                                                <div class="book-details">

                                                    @if (@item.Note.UniversityName == null)
                                                    {

                                                        <p class="sub-text"><i class="fa fa-university"></i> @item.Note.Countries.Name</p>
                                                    }
                                                    else
                                                    {

                                                        <p class="sub-text"><i class="fa fa-university"></i>@item.Note.UniversityName, @item.Note.Countries.Name</p>
                                                    }
                                                    @if (@item.Note.NumberofPages == null)
                                                    {

                                                        <p class="sub-text"><i class="fa fa-book"></i> Unknown</p>
                                                    }
                                                    else
                                                    {

                                                        <p class="sub-text"><i class="fa fa-book"></i> @item.Note.NumberofPages Pages</p>
                                                    }


                                                    <p class="sub-text"><i class="fa fa-calendar"></i> @item.Note.PublishedDate.Value.ToString("MMM dd yyyy")</p>

                                                    @if (@item.TotalSpam == 0)
                                                    {

                                                        <p class="inappropriate-mark"><i class="fa fa-flag"></i><span> 0 Users marked this note inappropriate</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p class="inappropriate-mark"><i class="fa fa-flag"></i><span> @item.TotalSpam Users marked this note inappropriate</span></p>

                                                    }
                                                </div>

                                                @*Book Rating*@
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12 col-xl-7 col-lg-8">
                                                        <div class="rate">
                                                            @for (int i = 0; i < 5; i++)
                                                            {
                                                                if (i < item.AverageRating)
                                                                {
                                                                    <i class="fa fa-star"></i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="fa fa-star-o"></i>
                                                                }
                                                            }

                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-xl-4 col-lg-4">
                                                        <div class="review-text">

                                                            <p>@item.TotalRating reviews</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>

</section>

<!-- Pagination -->
<nav>
    <div class="container">
        <div class="row justify-content-center">

           
                @Html.PagedListPager(Model, page => Url.Action("SearchNotes", new { page, search = @ViewBag.Search, type = ViewBag.Type, category = ViewBag.Category, university = ViewBag.University, course = ViewBag.Course, country = ViewBag.Country, ratings = ViewBag.Rating }), new PagedList.Mvc.PagedListRenderOptions
           {

               LinkToNextPageFormat = ">",
               LinkToPreviousPageFormat = "<",
               DisplayEllipsesWhenNotShowingAllPageNumbers = false,
               DisplayLinkToFirstPage = PagedListDisplayMode.Never,
               DisplayLinkToLastPage = PagedListDisplayMode.Never

           })
            
        </div>
    </div>
</nav>


<!-- Pagination Ends -->
